# fly.toml app configuration file generated for cardguess on 2023-08-22T17:52:53Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = "cardguess"
primary_region = "ord"

[build]

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]

[env]
  OPENAI_API_KEY = "OPENAI_API_KEY"
