<h1>
Welcome to Card Guess.
<br>

</h1>



<p>
<form action="/first_pile" method="post">
<input type="submit" name="piles_for_cookie" value="Deal First Card">
</p>

<p>
<form action="/next_card" method="post">
<input type="submit" name="piles_for_cookie" value="TEST BUTTON">
</p>

<p>
  <button id="next_card_button"><a href="/new_deck">Build New Deck</a></button>
</p>

<p>
  <button id="next_card_button"><a href="/">Home</a></button>
</p>
