<h1>
<br>
Welcome to Card Guess.
<br>

</h1>



<p>
  <button id="next_card_button"><a href="/first_pile">Deal first card</a></button>
</p>

<p>
  <button id="next_card_button"><a href="/new_deck">Build New Deck</a></button>
</p>

<p>
  <button id="next_card_button"><a href="/">Home</a></button>
</p>
