<%= deal %>
<p><p><h1>
<%= @dealer_deck[0] %>
</h1>


<p>
  <h1>Dealer Deck</h1>
  <div id="card_display"><%= @current_card %></div>
  <button id="next_card_button" action="/next_card">Next Card</button>
</p>
